*{
    margin: 0px;
    padding: 0px;
    font-family: 'Titillium Web', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    background-color: sienna;
    color: aliceblue;
}
nav ul {
    display: flex;
    justify-content: space-around;
    width: 15%;
    list-style: none;
}

a {
    text-decoration: none;
}
nav a {
    color: aliceblue;
}

.page {
    margin: auto;
    margin-top: 30px;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.start-title {
    font-size: 100px;
    font-weight: bold;
}

.start-subtitle {
    font-size: 80px;
    font-weight: 500;
    color: gray;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
}

.legend {
    border-bottom: 2px solid gray;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
    width: 300px;
}

.form-input {
    width: 300px;
    height: 25px;
    border: none;
    border-radius: 5px;
    border: solid 2px;
    border-color: lightgray;
    padding: 5px;
    font-size: 14px;
    font-weight: 400;
}

.form-input:active {
    border-color: lightskyblue;
}

.incorrect {
    border-color: lightcoral;
}

.button {
    padding: 8px;
    min-width: 100px;
    border: none;
    border: solid 2px rgb(68, 63, 63);
    border-radius: 8px;
    color: aliceblue;
    background-color: rgb(109, 99, 99);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.button:hover {
    cursor: pointer;
}

.incorrect-feedback {
    color: crimson;
}

.alert {
    width: 60%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 60px;
    opacity: 0.7;
    
}

.alert-fail {
    background-color: lightcoral;
    border: solid 2px crimson;
    color: crimson;
}

.alert-success {
    background-color: lightgreen;
    border: solid 2px green;
    color: green;
}

.start-form-label {
    font-size: 30px;
    margin: 20px;
}

.start-form-input {
    width: 400px;
    height: 50px;
    border: none;
    border-radius: 10px;
    border: solid 3px lightgray;
    margin-bottom: 20px;
    padding: 6px;
    font-size: 38px;
}

.results {
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: center;
}

.card {
    
    margin-top: 10px;
    padding: 10px 100px 10px 100px;
    width: 100%;
    border-radius: 10px;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.book-result:hover {
    cursor: pointer;
    background-color: rgb(199, 114, 64);
}

.book-result h2 {
    font-size: 15px;
}

.book-result h3 {
    font-size: 12px;
    color: gray;
}

.book-result:hover {
    color: aliceblue;
}

.search-result-form-input {
    width: 80%;
    height: 40px;
    border: none;
    border-radius: 10px;
    border: solid 3px lightgray;
    padding: 6px;
    font-size: 28px;
    margin-right: 10px;
}

.search-result-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.review-form {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 300px;
    justify-content: space-around;
    font-size: 30px;
    border-top: solid 2px brown;
}

.book-details {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.rating-input {
    width: 50px;
    border: none;
    border-radius: 6px;
    border: solid 2px;
    border-color: lightgray;
}

.text-input {
    height: 100px;
    padding: 10px;
    font-size: 26px;
    border: none;
    border-radius: 10px;
    border: solid 2px;
    border-color: lightgray;
}

.review-form {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 300px;
    justify-content: space-around;
    font-size: 30px;
}

.no-review {
    display: flex;
    justify-content: center;
    width: 60%;
    font-size: 50px;
}

.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    border-top: solid 2px brown;
    margin-top: 20px;
}