*{
    margin: 0px;
    padding: 0px;
    font-family: 'Titillium Web', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    background-color: sienna;
    color: aliceblue;
}
nav ul {
    display: flex;
    justify-content: space-around;
    width: 15%;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: aliceblue;
}

.start-page {
    margin: auto;
    margin-top: 5%;
    width: 80%;
    text-align: center;
}

.start-title {
    font-size: 100px;
    font-weight: bold;
}

.start-subtitle {
    font-size: 80px;
    font-weight: 500;
    color: gray;
}